{% extends "base.html" %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Dashboard </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/emails">Emails <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logs">Logs</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
<h3>Emails</h3>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Subject</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>asfasdf@gmail.com</th>
      <td>user@group35.com</td>
      <td>You have won the lottery</td>
      <td>Dear sir madam you have won the lottery........</td>
    </tr>
    <tr>
      <td>test@gmail.com</th>
      <td>user@group35.com</td>
      <td>This is a test</td>
      <td>Dear sir This is a valid email........</td>
    </tr>
    <tr>
      <td>fadsfadsf@gmail.com</th>
      <td>user@group35.com</td>
      <td>Please confirm paypal deatils</td>
      <td>Dear sir please enter your paypal details</td>
    </tr>
  </tbody>
</table>
{% endblock %}