{% extends "base.html" %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/emails">Emails </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logs">Logs <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}
{% block content %}
<h3>Logs</h3>
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">From</th>
        <th scope="col">Subject</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>23-02-2023</td>
        <td>11:12</td>
        <td>hacker@gmail.com</td>
        <td>Please provide paypal details</td>
        <td>Blocked</td>
      </tr>
      <tr>
        <td>28-03-2023</td>
        <td>14:32</td>
        <td>user@group35.com</td>
        <td>This is a test email that is valid</td>
        <td>Allowed</td>
      </tr>
      <tr>
        <td>18-04-2023</td>
        <td>09:32</td>
        <td>asdfasdf@gmail.com</td>
        <td>Click this link to get your winnings</td>
        <td>Blocked</td>
      </tr>
      <tr>
        <td>17-05-2023</td>
        <td>19:00</td>
        <td>user@group35.com</td>
        <td>Can you please meet me at lunchtime</td>
        <td>Allowed</td>
      </tr>
    </tbody>
  </table>
{% endblock %}